<form class="form">

  <div class="">
    <input type="text" name="name" class="" placeholder=" " required />
    <label for="name" class="6">First name</label>
  </div>

  <div class="">
    <input type="text" name=" last_name" class="" placeholder=" " required />
    <label for=" last_name" class="">Last name</label>
  </div>

  <div class="">
    <input type="email" name="email" class="" placeholder=" " required />
    <label for="email" class="">Email address</label>
  </div>

  <div class="">
    <input type="tel" name=" phone" class="" placeholder=" " required />
    <label for=" phone" class="">Phone number </label>
  </div>
  <div class="">
    <input
      type="text"
      name="company"
     
      class=""
      placeholder=" "
      required
    />
    <label for="company" class="">Company (Ex. Google)</label>
  </div>

  <button type="submit" class="btn_submit">Send</button>
</form>

<style>
  .form {
    padding: 2rem;
    border: 2px solid #000;
  }
  input{
    font-size: 1.2rem;
    padding:5px;
   margin-bottom:20px ;
  }
  .btn_submit {
    ;
    background-color: blue;
    color: white;
    padding: 1rem 5rem;
    margin-top: 10px;
    border-radius: 30px;
    font-size: 2rem;
    cursor: pointer;
 
  }

  .btn_submit:hover {
    
    background-color: rgb(96, 96, 226);
   
  }
</style>
